* {
  margin: 0;
  padding: 0;
}

body {
  background: #444444;
}

section {
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.tags {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}